header {
    display: flex;
    color: white;
    text-shadow: 2px 2px black;
    background-color: grey;
    height: 50px;
    justify-content: right;
    align-items: center;
    padding: 5px;
    font-size: 25;
}
.faketabs {
    display: inline-flex;
    width: 100%;

}
.tab{
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: lightgray;
    color: black;
    padding: 5px;
    margin: 5px;
}
.listbox {
    display: inline-flex;
    width: 50%;
    flex-wrap: wrap;
    color: black;
    background-color: pink;
    margin: 5px;
    padding: 5px;
    font-size: 20px;

}
.boxes {
    display: inline-flex;
    width: 50%;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}
.fish{
    display: inline-flex;
    flex-basis: 100%;
    background-color: hotpink;
    margin: 5px;
    padding: 5px;
}