/* Reset some default styling */
* {

  margin: 5px;
  padding: 2.5;
  box-sizing:border-box;

}
/*Style the body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styling */
header {
  background-color: aquamarine;
  color: #f4f4f4
}

header h1 {
  font-size: medium;
}

header p {
  font-size: 2.5px;

}

/* Navigation styling*/
nav {
  background-color: blue;
  padding: 1em;
}

nav ul { 
  list-style: georgian;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav a {
  color: beige;
  text-decoration: none
}

nav a:hover {
  text-decoration: underline;
}

/* Main content styling*/
main {
  padding: 2em;

}

/* Sections styling*/
.player-card {
  background-color: greenyellow;
  border: 1px solid;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

/* Table Serving */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  padding: 0.75em;
  border: 1px solid;
  text-align: left;
}

th {
  background-color: blue;
  color: azure;

}

tr:nth-child {
  background-color: purple;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 1em;
  background-color: #3d5a80;
  color: #f4f4f4;
  margin-top: 2em;
}

