body {
    background-color: #e099c0;
    h1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color:#681bb4
    }
    h3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color:#681bb4
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}


